/* datatraining.css */
body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(183, 226, 236, 0.2);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

h1 {
    margin-top: 20px;
    color: #2c3e50;
    font-size: 28px;
    text-align: center;
}

.table-container {
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px 5px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #0066cc;
    color: white;
    font-size: 14px;
}

td {
    background-color: #f9f9f9;
    font-size: 12px;
}

/* Estilo dos botões */
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 10px auto;
    text-align: center;
}

button:hover {
    background-color: #004d99;
}

.pagination {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center; /* Alinhar os botões no centro */
    flex-wrap: wrap; /* Permitir que os botões se ajustem à largura da tela */
}

.pagination button {
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination button:hover {
    background-color: #004d99;
}

.pagination button.active {
    background-color: #004d99;
    cursor: default;
}

.pagination button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}
